* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.computer {
    background-color: blueviolet;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    position: relative;
}
.computer_choice {
    background-color: brown;
    width: 300px;
    height: 280px;
    position: fixed;

}
.computer_screen {
        position: absolute;
        background-color: red;
        height: 125px;
        position: relative;
        top: 15px;
        width: 205px;
        left: 43px;
    }

.computer_screen img {
        position: absolute;
        width: 80%;
        height: 100%;
        left: 24px;
}

#skynet {
        position: absolute;
        top: 10px;
        height: 250px;
        left: 27px;
        z-index: 10;
    }


.result {
    background-color: beige;
    height: 30vh;
    width: 100vw;
    margin-bottom: 2vh;
    display: flex;
    justify-content:center ;
}

.result_container{
    background-color: black;
    width: 400px;
    height: 100%;   
}

.win_result_img {
    width: 90%;
    height: 100%;
}

.lose_result_img {
    width: 130%;
    height: 170%;
    margin: -60px;  
}

.player_choices {
    background-color: lightblue;
    height: 20vh;
    width: auto;
    display: flex;
    align-items: center;
}

.choices {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px blue;
    padding: 10px;
    margin: 10px;
}