* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: darkgreen;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(189, 50, 50);
}

.result h1,
h2 {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.computer_choice {
  width: 300px;
  height: 280px;
  position: fixed;
}
.computer_screen {
  background-color: red;
  height: 125px;
  position: relative;
  top: 15px;
  width: 205px;
  left: 43px;
}

.skynet_emoji {
  background-image: url("/src/img/devil-emoji-emoticon-icon-with-png-and-vector-format-for-free-698783.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.computer_screen img {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 24px;
}

#skynet {
  position: absolute;
  top: 10px;
  height: 250px;
  left: 27px;
}

.result {
  height: 20vh;
  width: 100vw;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
}

.result_container {
  width: 500px;
  height: 100%;
}

.player_choices {
  height: 20vh;
  width: auto;
  display: flex;
  align-items: center;
}

.choices {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px blue;
  padding: 10px;
  margin: 10px;
}

#rock {
  background: url("/src/img/rock.svg");
  background-color: blue;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

#paper {
  background: url("/src/img/paper-svgrepo-com.svg");
  background-color: blue;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

#scissors {
  background: url("/src/img/scissors-svgrepo-com.svg");
  background-color: blue;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

#start {
  width: 100px;
  height: 35px;
  background-color: #2fceff;
  border-radius: 2px;
}

.rock {
  background: url("/src/img/rock.svg");
  background-color: red;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.paper {
  background: url("/src/img/paper-svgrepo-com.svg");
  background-color: red;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.scissors {
  background: url("/src/img/scissors-svgrepo-com.svg");
  background-color: red;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
